<!DOCTYPE html>
<html>
<head>
	<title>freastal technologies</title>


  

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</head>
<body>
<% include header %>

  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/attendance/absent">Absent Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/attendance/present">Present Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/bulksms">Bulk SMS</a></li>
        <li><a class="input-field right hide-on-med-and-down right">
          <form action="/" method="GET">
          <input id="search" type="search" name="search">
          <a class="label-icon" onkeypress="dosomething();" for="search"><i class="material-icons">search</i></a>
          </form>
        </a></li>
      </ul>
    </div>
  </nav>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>NEW CLIENT</h4>
      <p>choose what you want...</p>
    </div>
    <div class="modal-footer">
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Gym member</a>
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Personal traning</a>
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Group class</a>
    </div>
  </div>


 <div class="section11">
  <div class="row">
    <div class="col s12 m12 l12">
      <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Client id</th>
              <th>Client Name</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
              
          </tr>
        </thead>
         <% attendance.forEach(function(attendance , index){%>
           <tbody>
          <tr>
            <td><%= index + 1%></td>
            <td><%= attendance.clientid %></td>
            <td><%=  attendance.clientname %></td>
            <td><%= attendance.flag %></td>
            <td><%= attendance.date %></td>
            <td><a href="/profile/<%= attendance.clientid %>" >Profile/</a><a href="/smsbill/<%= attendance.clientid %>">SMS</a></td>
          </tr> 
        </tbody>
        <% }); %>
      </table>
      </div>
  </div>
  </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


</body>
</html>