<!DOCTYPE html>
<html>
<head>
  <title>freastal technologies</title>


  

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</head>
<body>
<% include header %>

  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/attendance/absent">Absent Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/attendance/present">Present Client</a></li>
        <li><a class="waves-effect waves-light btn" href="/bulksms">Bulk SMS</a></li>
        <li><a class="input-field right hide-on-med-and-down right">
          <form action="/" method="GET">
          <input id="search" type="search" name="search">
          <a class="label-icon" onkeypress="dosomething();" for="search"><i class="material-icons">search</i></a>
          </form>
        </a></li>
      </ul>
    </div>
  </nav>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>NEW CLIENT</h4>
      <p>choose what you want...</p>
    </div>
    <div class="modal-footer">
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Gym member</a>
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Personal traning</a>
      <a href="/newclient" class="modal-close waves-effect waves-green btn-flat">Group class</a>
    </div>
  </div>


  <div class="section4">
    <form action="/employee" method="POST">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12">

       <div class="row">
        <div class="input-field col s12">
             <i class="material-icons prefix">account_circle</i>
          <input id="employeename" type="text" name="employeename" class="validate">
          <label for="employeename">Trainer Name</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
             <i class="material-icons prefix">account_circle</i>
             <label for="dob">Date of birth</label>
          
          <input type="text" name="dob" class="datepicker">
        </div>
      </div>


            <div class="col s12 m12 l12">

        <div class="row">
            <div class="input-field col s12">
                  <i class="material-icons prefix">phone</i>
              <input id="contactno" type="text" name="contactno" class="validate" >
              <label for="contactno">Contact no</label>
            </div>
      </div>

        <div class="row">
        <div class="input-field col s12">
             <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

        <div class="row">
          <div class="col s12">
          <label for="gender" name="gender" style="font-size: 16px;"a>Gender</label> 
            <p>
            <label>
            <input value="male" type="radio" name="group1" checked />
            <span>male</span>
          </label >
          <label>
            <input value ="female" type="radio" name="group1" />
            <span>female</span>
          </label>
           </p>
        </div>
      </div>
              
        <div class="row">
        <div class="input-field col s12">
             <i class="material-icons prefix">account_circle</i>
          <input id="salary" type="text" name="salary" class="validate" >
          <label for="salary">Monthly Salary</label>
        </div>
      </div>

     </div>
     <div class="col s12 m12 l12">
        <div class="row">
            <div class="input-field col s12">
                 <i class="material-icons prefix">account_circle</i>
              <input id="address" type="text" name="address" class="validate" >
              <label for="address">Address</label>
            </div>
        </div>
     </div>

      <div class="row">
         <div class="input-field col s12">
            <select name="status">
                    <option name="group10" value="active" >Active</option>
                    <option name="group10" value="inactive" >Inactive</option>
            </select>
            <label for="status" name="status"> Status </label>
        </div>
      </div>

      <input type="hidden" name="instant" value="0"><div class="input-field col l12 s12 m12 center">
            <button class="btn waves-effect waves-light" id="btnsubmit" type="submit" name="register">submit </button>
         </div>

    

    </div>
  </div>
</div>
</div>
</form>
</div>




  <div class="section10 container">
  <div class="row">
    <div class="col s12 m12 l12">
      <table>
        <thead>
          <tr>
              <th>Employee Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Address</th>
              <th>Status</th>
              <th>Action</th>
              
          </tr>
        </thead>
       <% employee.forEach(function(employee){ %>
           <tbody>
          <tr>
            <td><%=  employee.employeename %></td>
            <td><%= employee.contactno %></td>
            <td><%= employee.email %></td>
            <td><%= employee.address %></td>
            <td><%= employee.status %></td>
            <td><a href="/employee/edit/<%= employee._id %>">Edit/</a><a href="/employee/delete/<%= employee._id%>" >Delete/</a> <a href="/employee/SMS/<%= employee._id %>">SMS</a></td>
          </tr> 
        </tbody>
        <% }); %>
      </table>
      </div>
  </div>
  </div>


<script>
   $(document).ready(function(){
    $('.modal').modal();
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

    $(document).ready(function(){
    $('.timepicker').timepicker();
  });

    $(document).ready(function(){
    $('select').formSelect();
  });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


</body>
</html>